# vscode project settings
.vscode

# binary assets
assets/

# secret keys
secrets/

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# compiled js
dist/

# pyinstaller artifacts
*.spec
__pycache__

typings/
lib/*.js
test/*.js
*.map
