# vscode project settings
.vscode

# secret keys
secrets/

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# compiled js and py
dist/

# pyinstaller artifacts
*.spec
__pycache__

# compiling, testing, and debugging sandboxes
sandbox/
misc/

# other binaries and artifacts
webms/

# parcel cache
.cache

typings/
lib/*.js
test/*.js
*.map
