[BASIC]
good-names=i,
           j,
           k,
           ex,
           Run,
           _
[MESSAGES CONTROL]
disable=too-many-lines,
        missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        import-outside-toplevel,
        invalid-name,
        f-string-without-interpolation,
        logging-fstring-interpolation,
        too-many-branches,
        too-many-locals,
        too-many-statements,
        line-too-long,
        fixme
