div[data-testid='primaryColumn'] {
  width: 100%;
  max-width: 100%;
}

div[data-testid='sidebarColumn'] {
  display: none;
}
div[role='banner'] {
  display: none;
}

article[data-testid="tweet"] div[style*="aspect-ratio"] {
  max-width: 100% !important;
  max-height: 60% !important;
}

video {
  height: 60% !important;
  top: 40% !important;
  transform: rotate(0deg) scale(1) !important;
  /* padding-left: 10%;
  padding-right: 10%;
  padding-top: 0%;
  padding-bottom: 0%; */
}

article[data-testid="tweet"] > div > div > div:nth-of-type(1) {
  display: none;
}

article[data-testid="tweet"] > div > div > div:nth-of-type(2) {
  display: none;
}

article[data-testid="tweet"] > div > div > div:nth-of-type(3) > div:nth-of-type(1) {
  display: none;
}
article[data-testid="tweet"] > div > div > div:nth-of-type(3) > div:nth-of-type(1) {
  display: none;
}

div[data-testid="videoComponent"] > div:nth-of-type(2) > div > div > div:nth-of-type(4) > div > div {
    bottom: 0px;
}
