#shortcutsTableToggleButton {
  width: 30px;
  top: -7px;
  left: 10px;
}

#markers-upload-div input[type='file'],
#settings-editor-div input[type='checkbox'],
#settings-editor-div input[type='radio'] {
  position: static;
  width: auto;
  height: auto;
  opacity: 1;
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

._click_zone[data-title-container] {
  pointer-events: none !important;
}

div[class*='layout_content'] {
  width: 100% !important;
}

@media (min-width: 1024px) {
  div[class*='snb'] {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    z-index: 1500;
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
    background: #fff;
  }

  div[class*='snb']:hover {
    transform: translateX(0%);
    -webkit-transform: translate(0);
    transform: translate(0);
    transition: all 0.3s ease-in-out 0s;
  }
}
