:root {
  --lighter-grey: rgb(235, 235, 235);
  --light-grey: rgb(210, 210, 210);
  --med-grey: rgb(110, 110, 110);
  --dark-grey: rgb(40, 40, 40);
  --darker-grey: rgb(10, 10, 10);
  --bright-red: rgb(237, 28, 63);
  --marker-pair-editor-accent: rgb(245, 118, 0);
  --essential-red: rgb(200, 40, 40);
}

#shortcutsTableContainer {
  text-align: center;
}

#shortcutsTableContainer table {
  text-align: left;
  line-height: 32px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid var(--bright-red);
  width: 640px;
  margin: 8px auto;
  border-radius: 0.25rem;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: #222;
  color: #ddd;
}

#shortcutsTableContainer thead tr:first-child {
  background: var(--bright-red);
  color: var(--lighter-grey);
  border: none;
}

#shortcutsTableContainer thead tr:nth-child(2) {
  text-align: center;
}

#shortcutsTableContainer tr:nth-child(even) {
  background-color: #333;
}

#shortcutsTableContainer th:first-child,
td:first-child {
  padding: 0 5px;
}

#shortcutsTableContainer th {
  font-size: 14px;
  font-weight: 600;
}

#shortcutsTableContainer thead tr:last-child th {
  border-bottom: 3px solid #777;
}

#shortcutsTableContainer tbody tr:hover {
  background-color: #444;
}

#shortcutsTableContainer tbody tr:first-child {
  border-bottom: 1px solid #666;
  border-right: 2px solid #666;
}

#shortcutsTableContainer td {
  border-bottom: 1px solid #666;
}

#shortcutsTableContainer td:first-child {
  border-right: 2px solid #666;
}

#shortcutsTableContainer td:last-child {
  text-align: right;
  padding-right: 5px;
}

#shortcutsTableContainer kbd {
  border: 1px solid #999;
  border-radius: 2px;
  font-weight: bold;
  padding: 2px 4px;
  margin: 1px;
  background-color: #e0e0e0;
  color: #333;
}

#shortcutsTableContainer tr.essential-row {
  color: var(--bright-red);
}

#shortcutsTableContainer h2 {
  color: var(--lighter-grey);
  margin: 10px;
}
