<h2>Basic Features</h2>

<table>
  <thead>
    <tr>
      <th colspan="2">Marker Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr class="essential-row">
      <td>Toggle shortcuts on/off</td>
      <td><kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>A</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Add marker at current time</td>
      <td><kbd>A</kbd></td>
    </tr>
    <tr  class="essential-row">
      <td>Toggle targeted marker pair's editor</td>
      <td><kbd>Shift</kbd> + <kbd>Mouseover</kbd></td>
    </tr>
    <tr  >
      <td>Jump to marker numbering and open marker pair's editor</td>
      <td><kbd>Click</kbd></td>
    </tr>
    <tr>
      <td>Toggle marker pair overrides editor</td>
      <td><kbd>Shift</kbd> + <kbd>W</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Undo/redo last marker</td>
      <td><kbd>Z</kbd> / <kbd>Shift</kbd> + <kbd>Z</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Delete selected marker pair</td>
      <td><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>Z</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Move start/end marker to current time</td>
      <td><kbd>Shift</kbd> + <kbd>Q</kbd>/<kbd>A</kbd></td>
    </tr>
    <tr>
      <td>Drag start/end marker numbering to new time</td>
      <td><kbd>Alt</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr>
      <td>
        Move start/end marker a frame when on left/right half of window
      </td>
      <td><kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>Mousewheel</kbd></td>
    </tr>
    <tr>
    <tr>
      <td>Toggle marker pair selection</td>
      <td><kbd>Ctrl</kbd> + <kbd>Up</kbd></td>
    </tr>
    <tr>
      <td>Toggle auto-hiding unselected marker pairs</td>
      <td><kbd>Ctrl</kbd> + <kbd>Down</kbd></td>
    </tr>
      <td>Undo/redo last marker move of selected pair</td>
      <td>
        <kbd>Alt</kbd> + <kbd>Z</kbd> / <kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>Z</kbd>
      </td>
    </tr>
    <tr>
      <td>Toggle marker pair selection</td>
      <td><kbd>Ctrl</kbd> + <kbd>Up</kbd></td>
    </tr>
    <tr>
      <td>Toggle auto-hiding unselected marker pairs</td>
      <td><kbd>Ctrl</kbd> + <kbd>Down</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Jump to nearest next/previous marker</td>
      <td><kbd>Ctrl</kbd> + <kbd>Left</kbd>/<kbd>Right</kbd></td>
    </tr>
    <tr>
      <td>Select next/previous marker pair</td>
      <td><kbd>Alt</kbd> + <kbd>Left</kbd>/<kbd>Right</kbd></td>
    </tr>
    <tr>
      <td>Select next/previous marker pair and jump to start marker</td>
      <td><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Left</kbd>/<kbd>Right</kbd></td>
    </tr>
  </tbody>

</table>

<table>
  <thead>
    <tr>
      <th colspan="2">Global Settings Editor Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr class="essential-row">
      <td>Toggle global settings editor</td>
      <td><kbd>W</kbd></td>
    </tr>
    <tr>
      <td>Toggle encoding settings editor</td>
      <td><kbd>Shift</kbd> + <kbd>W</kbd></td>
    </tr>
    <tr>
      <td>Update all markers to default new marker speed/crop</td>
      <td><kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>Q</kbd>/<kbd>X</kbd></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2">Cropping Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr class="essential-row">
      <td>Begin drawing crop</td>
      <td><kbd>X</kbd></td>
    </tr>
    <tr>
      <td>Begin drawing vertical crop (sets only left and right)</td>
      <td><kbd>Shift</kbd> + <kbd>X</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Draw crop</td>
      <td><kbd>Click</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Move or resize crop</td>
      <td><kbd>Ctrl</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr>
      <td>Crop-aspect-ratio-locked resize of crop</td>
      <td><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr>
      <td>Horizontally-fixed (Y-only) drag of crop</td>
      <td><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr>
      <td>Vertically-fixed (X-only) drag of crop</td>
      <td><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Cycle crop dim opacity up by 0.25</td>
      <td><kbd>Ctrl</kbd> + <kbd>X</kbd></td>
    </tr>
    <tr>
      <td>Toggle crop adjustment with arrow keys</td>
      <td><kbd>Alt</kbd> + <kbd>X</kbd></td>
    </tr>
    <tr>
      <td>Adjust crop input string with arrow keys</td>
      <td><pre>Place cursor on target value</pre></td>
    </tr>
    <tr>
      <td>Change crop change amount from 10 to 1/50/100</td>
      <td><kbd>Alt</kbd> / <kbd>Shift</kbd> / <kbd>Alt</kbd> + <kbd>Shift</kbd></td>
    </tr>
    <tr>
      <td>Modify crop width/height instead of x/y offset</td>
      <td><kbd>Ctrl</kbd> + <kbd>ArrowKey</kbd></td>
    </tr>
  </tbody>
</table>

<table>

  <thead>
    <tr>
      <th colspan="2">Preview Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr class="essential-row">
      <td>Toggle previewing speed</td>
      <td><kbd>C</kbd></td>
    </tr>
    <tr class="essential-row">
      <td >Toggle auto marker pair looping</td>
      <td><kbd>Shift</kbd> + <kbd>C</kbd></td>
    </tr>
    <tr>
      <td>Toggle auto crop chart section looping</td>
      <td><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd></td>
    </tr>
    <tr>
      <td>Toggle previewing gamma</td>
      <td><kbd>Alt</kbd> + <kbd>C</kbd></td>
    </tr>
    <tr>
      <td>Toggle previewing fade loop</td>
      <td><kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Toggle all previews</td>
      <td><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd></td>
    </tr>
    <tr>
      <td>Toggle force setting video speed</td>
      <td><kbd>Q</kbd></td>
    </tr>
    <tr>
      <td>Cycle force set video speed value down by 0.25</td>
      <td><kbd>Alt</kbd> + <kbd>Q</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Seek video frame by frame</td>
      <td>
        <kbd>&lt;</kbd> / <kbd>&gt;</kbd> or <kbd>Shift</kbd> + <kbd>Mousewheel</kbd>
      </td>
    </tr>
    <tr>
      <td>Toggle previewing rotation 90&deg; clockwise/anti-clockwise</td>
      <td><kbd>R</kbd> / <kbd>Alt</kbd> + <kbd>R</kbd></td>
    </tr>
    <tr>
      <td>Toggle big video preview thumbnails</td>
      <td><kbd>Shift</kbd> + <kbd>R</kbd></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2">Frame Capturer Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Capture frame</td>
      <td><kbd>E</kbd></td>
    </tr>
    <tr>
      <td>Zip and download captured frames</td>
      <td><kbd>Alt</kbd> + <kbd>E</kbd></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2">Saving Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr class="essential-row">
      <td>Save markers data as json</td>
      <td><kbd>S</kbd></td>
    </tr>
    <tr>
      <td>Copy markers data to clipboard</td>
      <td><kbd>Alt</kbd> + <kbd>S</kbd></td>
    </tr>
    <tr>
      <td>Toggle markers data loading dialog</td>
      <td><kbd>G</kbd></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2">Miscellaneous Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Flatten VR Video</td>
      <td><kbd>Shift</kbd> + <kbd>F</kbd></td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Open YouTube subtitles editor (supports creating, downloading and uploading).</td>
      <td><kbd>Alt</kbd> + <kbd>F</kbd></td>
    </tr>
  </tbody>
</table>

<h2>Advanced Features</h2>

<table>
  <thead>
    <tr>
      <th colspan="2">General Chart Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr class="essential-row">
      <td>Add point</td>
      <td><kbd>Shift</kbd> + <kbd>Click</kbd></td>
    </tr>
    <tr >
      <td>Add point at current time.</td>
      <td><kbd>Alt</kbd> + <kbd>A</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Delete point</td>
      <td><kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>Click</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Move point or pan chart</td>
      <td><kbd>Click</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr>
      <td>Zoom in and out</td>
      <td><kbd>Ctrl</kbd> + <kbd>Mousewheel</kbd></td>
    </tr>
    <tr>
      <td>Reset zoom</td>
      <td><kbd>Ctrl</kbd> + <kbd>Click</kbd></td>
    </tr>
    <tr>
      <td>Seek to time on time-axis</td>
      <td><kbd>Right-Click</kbd></td>
    </tr>
    <tr>
      <td>Set chart loop start/end marker</td>
      <td>
        <kbd>Shift</kbd>/<kbd>Alt</kbd> + <kbd>Right-click</kbd>
      </td>
    </tr>
    <tr>
      <td>Toggle chart marker looping</td>
      <td><kbd>Shift</kbd> + <kbd>D</kbd></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2">Speed Chart Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr class="essential-row">
      <td>Toggle speed chart</td>
      <td><kbd>D</kbd></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2">Crop Chart Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr class="essential-row">
      <td>Toggle crop chart</td>
      <td><kbd>Alt</kbd> + <kbd>D</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Toggle auto crop chart section looping</td>
      <td><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>C</kbd></td>
    </tr>
    <tr class="essential-row">
      <td>Select point as start/end of crop section</td>
      <td><kbd>Ctrl/Alt</kbd> + <kbd>Mouseover</kbd></td>
    </tr>
    <tr>
      <td>Toggle start/end mode. If in end mode also select prev point</td>
      <td><kbd>Alt</kbd> + <kbd>Mousewheel Down</kbd></td>
    </tr>
    <tr>
      <td>Toggle start/end mode. If in start mode also select next point</td>
      <td><kbd>Alt</kbd> + <kbd>Mousewheel Up</kbd></td>
    </tr>
    <tr>
      <td>Set current point's crop to next/prev point's crop</td>
      <td><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Shift</kbd> + <kbd>Mousewheel Up/Down</kbd></td>
    </tr>
    <tr>
      <td>Toggle crop point ease in between auto and instant</td>
      <td><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Click</kbd></td>
    </tr>
    <tr>
      <td>
        Set target crop component of all points following/preceding selected point.
        Select crop component with cursor in crop input field.
      </td>
      <td><pre><kbd>a</kbd> / <kbd>Shift</kbd> + <kbd>A</kbd></pre></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2">ZoomPan Mode Crop Chart Shortcuts</th>
    </tr>
    <tr>
      <th>Action</th>
      <th>Shortcut</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Crop-aspect-ratio-locked resize of crop</td>
      <td><kbd>Ctrl</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr>
      <td>Free resize of crop</td>
      <td><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr>
      <td>ZoomPan-aspect-ratio-locked draw crop</td>
      <td><kbd>Click</kbd> + <kbd>Drag</kbd></td>
    </tr>
    <tr>
      <td>Free draw crop</td>
      <td><kbd>Alt</kbd> + <kbd>Click</kbd> + <kbd>Drag</kbd></td>
    </tr>
  </tbody>
</table>
