name: pr

on:
  pull_request:
    branches:
      - master
      - test-ci

jobs:
  check:
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        node-version: ['20.16.x']
        os: [macos-13]
        include:
          - os: macos-13
            shortos: macos

    steps:
      - uses: actions/checkout@v3

      # - name: Use Node.js ${{ matrix.node-version }}
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: ${{ matrix.node-version }}
      #     cache: 'yarn'
      #     architecture: 'x64'

      - name: Setup just
        uses: extractions/setup-just@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: '0.7.2'
          enable-cache: true
          cache-dependency-glob: 'uv.lock'

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Lint with ruff
        run: just lint-py

      - name: Run clipper tests
        run: just test-py

      - name: Minimize uv cache
        run: uv cache prune --ci
